body {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 90%;
  padding: 5% 0%;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: 4px 7px 47px -10px rgba(0,0,0,0.2);
}

.card {
  min-width: 200px;
  width: 250px;
  height: 425px;
  padding: 2%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4%;
}

.card-content {
  text-align: center;
}

.card-image-container {
  width: 100%;
  margin: 0 auto;
  border-radius: 4%;
}

.card-image {
  max-width: 100%;
  border-radius: 4%;
}
.card-title {
  font-weight: 700;
}

.card-text {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}

.attribution {
  text-align: center;
  color: hsl(220, 15%, 55%);
}

a {
  text-decoration: none;
}
